.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator {
    width: 300px;
    outline: 2px solid black;
    border-radius: 8px;
}

.input {
    height: 80px;
    width: auto;
    border: 2px solid rgba(0, 0, 0, 0.761);
    border-radius: 8px 8px 0 0;
}

.row1, .row2, .row3, .row4, .row5 {
    display: flex;
}
.row1 div, .row2 div, .row3 div, 
.row4 div, .row5 div {
    border: 1px solid rgb(0, 0, 0);
    height: 40px;
    flex: 1;
    font-size: larger;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
